
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="font-italic text-center">Josh's Favorite Stuff</h1>
<p class="text-uppercase text-center">The home page to my favorite stuff.</p>

